/* header */
#skin-h .skinimg {
    background: #333 url( https://images.pexels.com/photos/2622187/pexels-photo-2622187.jpeg);

    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:750px;
    z-index: -1;
    opacity: 0.4;
}

#skin-h .skinheading {
    padding: 3em;
    font-family:'Shadows Into Light', cursive;w
    text-align: center;
    font-size: 50px;
}

.shd:hover{
    color: darkcyan;
 }

h4 {
    font-family:'Dancing Script', cursive ;
    font-size: 30px;
    text-align: justify;
    color: rgb(109, 109, 177);
    background: cornsilk;
}

h2 {
    font-family:'Lobster', cursive; 
    font-size: 40px;
    color: rgb(35, 4, 66);
    text-align: center;
    background: darkkhaki;
}
h2:hover {
    color: cornsilk;
}



p {
    font-family:'Pacifico', cursive ;
    
}
 img {
    float: center;
 }
#skin-full {
    
    display: grid;
    grid-template-rows: 2fr;
    gap: 1em;
    grid-auto-rows: minmax(200,auto);
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    background: rgb(217, 224, 220);

}

#skin1 
{
    background:rgb(236, 227, 236);
    
   align-self: start;
    display: flex;
    flex-direction: column;

}  

#skin2 {
    background: rgb(236, 230, 236);
    
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
}

#skin3 {
    background:rgb(238, 231, 237);
    
    align-self:flex-end;
    display: flex;
    flex-direction: column;
}


@media (min-width: 800px) {
    .skin {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 6em;
    margin-left: 6em;
    padding-right: 4em;
    padding-left: 4em;
    }

    .skin {
        font-size: 1.2em;
        text-align: center;
    }

    h4 {
        text-align: center;
    }

    .image {
        background-image: url(https://images.pexels.com/photos/2382738/pexels-photo-2382738.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
        align-items: center;
    } 
    
    img {
        align-self: baseline;
    }

   

