/* header */
#skin-h .skinimg {
    background: #333 url( https://images.pexels.com/photos/2622187/pexels-photo-2622187.jpeg);

    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:750px;
    z-index: -1;
    opacity: 0.4;
}

#skin-h .skinheading {
    padding: 3em;
    font-family:'Shadows Into Light', cursive;w
    text-align: center;
    font-size: 50px;
}

.shd:hover{
    color: darkcyan;
 }

h4 {
    font-family:'Dancing Script', cursive ;
    font-size: 30px;
    text-align: justify;
    color: rgb(109, 109, 177);
}

h2 {
    font-family:'Lobster', cursive; 
    font-size: 40px;
    color: rgb(35, 4, 66);
    text-align: center;
    background: darkkhaki;
}
h2:hover {
    color: cornsilk;
}

p {
    font-family:'Pacifico', cursive ;
}

#skin-full {
    border: saddlebrown;
    display: grid;
    grid-template-rows: 2fr;
    gap: 1em;
    grid-auto-rows: minmax(200,auto);
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;

}

#skin1 
{
    background: rgb(224, 199, 199);
   align-self: start;
    display: flex;
    flex-direction: column;
}  

#skin2 {
    background: rgb(193, 223, 223);
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
}

#skin3 {
    background: rgb(195, 228, 208);
    align-self:flex-end;
    display: flex;
    flex-direction: column;
}

@media (min-width: 700px) {

}

